<html>
    <header>
        <script type="text/javascript">

            async function getUsers(){
                detail = document.getElementById("detail").checked;
                queryMethod = "GET";
                if(detail == true){
                    query = 'http://localhost:8080/api/v1/users?detail=true'
                } else {
                    query = 'http://localhost:8080/api/v1/users?detail=false'
                }

                processQuerry(query, queryMethod);
            }

            async function getUserById(){
                id = document.getElementById("Id").value;
                detail = document.getElementById("detail").checked;
                queryMethod = "GET";

                if(detail == true){
                    query = 'http://localhost:8080/api/v1/user/' + id + '?detail=true';
                } else {
                    query = 'http://localhost:8080/api/v1/user/' + id + '?detail=false';
                }

                processQuerry(query, queryMethod);
            }

            async function processQuerry(query, queryMethod){
                await fetch(query, {
                    method:queryMethod,
                })
                .then(response => response.json())
                .then(data => {
                    document.getElementById("myDiv").innerHTML = "";
                    const table = responseToTable(data, detail);
                    document.getElementById("myDiv").appendChild(table);
                });
            }

            async function createUser(){
                queryMethod = "POST";
                query = 'http://localhost:8080/api/v1/user';
                data = '{"name": "' + document.getElementById("personName").value + '", "surname": "' + document.getElementById("personSurname").value +'"}';

                processQuerryWithBody(query, queryMethod, data);
            }

            async function updateUser(){
                queryMethod = "PUT";
                query = 'http://localhost:8080/api/v1/user';
                data = '{"id": "' + document.getElementById("Id").value + '", "name": "' + document.getElementById("personName").value + '", "surname": "' + document.getElementById("personSurname").value +'"}';

                processQuerryWithBody(query, queryMethod, data);
            }

            async function deleteUser(){
                queryMethod = "DELETE";
                query = 'http://localhost:8080/api/v1/user/' + document.getElementById("Id").value;

                await fetch(query, {method:queryMethod})
                .then(response => response.text())
                .then(data => {
                    document.getElementById("myDiv").innerHTML = "";
                    tNode = document.createTextNode(data);
                    p = document.createElement("p");
                    p.appendChild(tNode);

                    document.getElementById("myDiv").appendChild(p);
                });
            }

            async function processQuerryWithBody(query, queryMethod, data){
                await fetch(query, {
                    method:queryMethod,
                    headers: {'Accept': 'application/json','Content-Type': 'application/json'},
                    body:data
                })
                .then(response => response.json())
                .then(data => {
                    document.getElementById("myDiv").innerHTML = "";
                    const table = responseToTable(data, true);
                    document.getElementById("myDiv").appendChild(table);
                });
            }

            function responseToTable(data, detail){
                if ( detail == true ){
                    table = detailedTable(data);
                } else {
                    table = reducedTable(data);
                }
                return table;
            }

            function reducedTable(data){
                var table;

                table = document.createElement('table');
                table.appendChild(getReducedTableHeader());

                for(var i=0; i< data.length; i++){
                    table.appendChild(addReducedLine(data[i]));
                }

                return table;
            }

            function getReducedTableHeader(){
                tr = document.createElement('tr');
                td = [document.createElement('td'),document.createElement('td'),document.createElement('td')];
                p = [document.createElement("p"), document.createElement("p"), document.createElement("p")];
                tNode = [document.createTextNode("Id"),document.createTextNode("Name"),document.createTextNode("Surname")];

                p[0].appendChild(tNode[0]);
                td[0].appendChild(p[0]);
                td[0].style.width="50px";
                

                p[1].appendChild(tNode[1]);
                td[1].appendChild(p[1]);
                td[1].style.width="150px";

                p[2].appendChild(tNode[2]);
                td[2].appendChild(p[2]);
                td[2].style.width="150px";

                tr.appendChild(td[0]);
                tr.appendChild(td[1]);
                tr.appendChild(td[2]);
                tr.setAttribute("class", "header")
                return tr;
            }

            function addReducedLine(data){
                var tNode = [], p = [], td = [];
                tr = document.createElement('tr');
                td = [document.createElement('td'),document.createElement('td'),document.createElement('td')];
                p = [document.createElement("p"), document.createElement("p"), document.createElement("p")];

                tNode = [document.createTextNode(data.id),document.createTextNode(data.name),document.createTextNode(data.surname)];

                p[0].appendChild(tNode[0]);
                td[0].appendChild(p[0]);

                p[1].appendChild(tNode[1]);
                td[1].appendChild(p[1]);

                p[2].appendChild(tNode[2]);
                td[2].appendChild(p[2]);

                tr.appendChild(td[0]);
                tr.appendChild(td[1]);
                tr.appendChild(td[2]);

                return tr;
            }

            function detailedTable(data){
                var table;

                table = document.createElement('table');
                table.appendChild(getDetailedTableHeader());

                for(var i=0; i< data.length; i++){
                    table.appendChild(addDetailedLine(data[i]));
                }

                return table;
            }

            function getDetailedTableHeader(){
                tr = document.createElement('tr');
                td = [document.createElement('td'),document.createElement('td'),document.createElement('td'),document.createElement('td'),document.createElement('td')];
                p = [document.createElement("p"), document.createElement("p"), document.createElement("p"), document.createElement("p"), document.createElement("p")];
                tNode = [document.createTextNode("Id"),document.createTextNode("Name"),document.createTextNode("Surname"),document.createTextNode("PersonId"),document.createTextNode("Uuid")];

                p[0].appendChild(tNode[0]);
                td[0].appendChild(p[0]);
                td[0].style.width="50px";

                p[1].appendChild(tNode[1]);
                td[1].appendChild(p[1]);
                td[1].style.width="150px";

                p[2].appendChild(tNode[2]);
                td[2].appendChild(p[2]);
                td[2].style.width="150px";

                p[3].appendChild(tNode[3]);
                td[3].appendChild(p[3]);
                td[3].style.width="150px";

                p[4].appendChild(tNode[4]);
                td[4].appendChild(p[4]);
                td[4].style.width="350px";

                tr.appendChild(td[0]);
                tr.appendChild(td[1]);
                tr.appendChild(td[2]);
                tr.appendChild(td[3]);
                tr.appendChild(td[4]);
                tr.setAttribute("class", "header");
                return tr;
            }

            function addDetailedLine(data){
                var tNode = [], p = [], td = [];
                tr = document.createElement('tr');
                td = [document.createElement('td'),document.createElement('td'),document.createElement('td'),document.createElement('td'),document.createElement('td')];
                p = [document.createElement("p"), document.createElement("p"), document.createElement("p"), document.createElement("p"), document.createElement("p")];

                tNode = [document.createTextNode(data.id),document.createTextNode(data.name),document.createTextNode(data.surname),document.createTextNode(data.personId),document.createTextNode(data.uuid)];

                p[0].appendChild(tNode[0]);
                td[0].appendChild(p[0]);

                p[1].appendChild(tNode[1]);
                td[1].appendChild(p[1]);

                p[2].appendChild(tNode[2]);
                td[2].appendChild(p[2]);

                p[3].appendChild(tNode[3]);
                td[3].appendChild(p[3]);

                p[4].appendChild(tNode[4]);
                td[4].appendChild(p[4]);

                tr.appendChild(td[0]);
                tr.appendChild(td[1]);
                tr.appendChild(td[2]);
                tr.appendChild(td[3]);
                tr.appendChild(td[4]);

                return tr;
            }
        </script>
    </header>

    <head>
        <style>
            div.fixed {
              position: fixed;
              bottom: 10;
              right: 20;
              left: 20;
              font-size: 80%;
              background-color: white;
            }
        </style>
        <style>
            table{
                background-color: white;
                border: 2px solid black;
                text-align: center;
            }
            tr.header{
                font-weight: bold;
            }
            td{
                border: 1px solid black;
            }
        </style>
            
    </head>
    <body>
        <h1>Genesis Resources Front End Page</h1>

        <p>
            <input type="number" min = 1 id="Id" value="1" style="height:30px; width:50px">
            <label for="Id">Id (for operations where needed)</label>
        </p>
        <p>
            <input type="text" id="personName" style="height:30px; width:150px">
            <label for="personName">Person Name (for operations where needed)</label>
        </p>
        <p>
            <input type="text" id="personSurname" style="height:30px; width:150px">
            <label for="personSurname">Person Surname (for operations where needed)</label>
        </p>
        <p>
            <input type="checkbox" id="detail" value="">
            <label for="detail">Detailed List</label>
        </p>
                    

        <p>
            <input type="button" value="Get All Users" onclick="getUsers()" style="height:30px; width:150px">
            <input type="button" value="Get User by Id" onclick="getUserById()" style="height:30px; width:150px">
            <input type="button" value="Create User" onclick="createUser()" style="height:30px; width:150px">
            <input type="button" value="Update User" onclick="updateUser()" style="height:30px; width:150px">
            <input type="button" value="Delete User" onclick="deleteUser()" style="height:30px; width:150px">
        </p>

        <hr>

        <div id="myDiv"></div>

    </body>
</html>
